.coding_file_wrapper {
    width: 95%;
    border: solid 0.3px;
    border-color: #000000;
    border-radius: 10px;
    box-shadow: 0 10px 20px #dbdbdb;
    display: grid;
    grid-template-rows: 20px auto auto;
    grid-template-columns: 100%;
    grid-template-areas:
        "file-title"
        "code-main"
        "output";
}
.coding_file_wrapper::-webkit-scrollbar {
    display: none; /* Webkit系ブラウザでスクロールバーを非表示 */
}
.fileTitle {
    grid-area: file-title;
    padding-left: 50px;
    border-radius: 9px 9px 0 0;
    font-family: monospace;
}
.code-main {
    grid-area: code-main;
    display: flex;
    width: 100%;
    background-color: #272822;
    color: #ffffff;
    -webkit-text-size-adjust: none;
    overflow-x: auto;
}
.code-toolbar, pre {
    display: flex;
    padding: 0 6px 4px 0;
    white-space: nowrap;
    -ms-overflow-style: none; /* IE、Edgeでスクロールバーを非表示 */
    scrollbar-width: none; /* Firefoxでスクロールバーを非表示 */
}
.output-wrapper {
    grid-area: output;
    display: flex;
    align-items: flex-start;
    width: 100%;
}
.outputInfo {
    top: 0;
    padding: 0 6px 4px 0;
    width: 60px;
    text-align: right;
    font-family: monospace;
    user-select: none;
}
.outputIfram {
    padding: 0 6px 4px 0;
    font-family: monospace;
    white-space: pre;
    overflow-x: auto; /* テーブル全体に横スクロールを適用 */
    -ms-overflow-style: none; /* IE、Edgeでスクロールバーを非表示 */
    scrollbar-width: none; /* Firefoxでスクロールバーを非表示 */
}
@media (max-width: 768px) {
    .coding_file_wrapper {
        width: 95%;
        border: solid 0.3px;
        border-color: #000000;
        border-radius: 10px;
        box-shadow: 0 10px 20px #dbdbdb;
    }
    .fileTitle {
        grid-area: file-title;
        padding-left: 50px;
        border-radius: 9px 9px 0 0;
    }
    .code-main {
        grid-area: code-main;
        display: flex;
    }
    .code-toolbar, pre {
        display: flex;
        padding: 0 6px 4px 0;
    }
    .output-wrapper {
        display: flex;
    }
    .outputInfo {
        padding: 0 6px 4px 0;
        width: 60px;
    }
    .outputIfram {
        padding: 0 6px 4px 0;
    }
}

/* 手動 */
.coding_file_wrapper .text-field-descriptive {
    color: #ffffff;
}
.coding_file_wrapper .text-field-number {
    color: #C7E3B9;
}
.coding_file_wrapper .text-field-str {
    color: #D4957B;
}
.coding_file_wrapper .text-field-import,
.coding_file_wrapper .text-field-syntax {
    color: #F0A3EA;
}
.coding_file_wrapper .text-field-coment {
    color: #86C26C;
}
.coding_file_wrapper .text-field-type {
    color: #53D6BC;
}
.coding_file_wrapper .text-field-function {
    color: #5BA5E3;
}
.coding_file_wrapper .text-field-functionalName {
    color: #E3E3AF;
}
.coding_file_wrapper .text-field-variable {
    color: #7CDDFF;
}
/* サーバ獲得後、Node.js環境でSassをインストールして、codeHighlight.scssを使えるようになったら以下の階層は不要 */
.coding_file_wrapper .text-field-brackets {
    color: yellow;
}
.coding_file_wrapper .text-field-brackets > .text-field-brackets {
    color: #F0A3EA;
}
.coding_file_wrapper .text-field-brackets > .text-field-brackets > .text-field-brackets {
    color: #2E8DE6;
}/*
.coding_file_wrapper .text-field-brackets > .text-field-str {
    color: #D4957B;
}
.coding_file_wrapper .text-field-brackets > .text-field-str > .text-field-brackets {
    color: #F0A3EA;
}
.coding_file_wrapper .text-field-brackets > .text-field-str > .text-field-brackets > .text-field-brackets {
    color: #2E8DE6;
}*/

/* シンタックスハイライト用の色 */
.syntax-structure {
    color: #F0A3EA;
}
.syntax-string {
    color: #D4957B;
}
.syntax-number {
    color: #C7E3B9;
}
.syntax-type {
    color: #53D6BC;
}
.syntax-comment {
    color: #86C26C;
}
.syntax-function {
    color: #5BA5E3;
}
.syntax-functionalName {
    color: #E3E3AF;
}
