.content {
    width: 100%;
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto;
    grid-template-areas:
        "breadcrumb-list breadcrumb-list"
        "content-main content-annotation"
        "output-info output-ifram";
}
.breadcrumb_list {
    grid-area: breadcrumb-list;
    padding: 0 10px 0 50px; /* 上・右・下・左の余白 */
}
.main {
    grid-area: content-main;
    padding: 0 10px 0 50px;
}
.annotation {
    grid-area: content-annotation;
    padding: 0 10px 0 10px;
    min-width: 100px;
}
@media (max-width: 768px) {
    .content {
        flex-direction: column;
        display: grid;
        grid-template-rows: auto auto auto;
        grid-template-columns: auto;
        grid-template-areas:
            "breadcrumb-list"
            "content-main"
            "content-annotation";
    }
    .breadcrumb_list, .main, .annotation {
        padding: 0 10px 0 50px;
        width: 100%;
    }
}


figure, blockquote {
    margin: 0 10px 0 50px; /* ブラウザデフォルトの隙間をリセット */
}
.figure-quote {
    padding: 0 0 0 0.5em; /* 左側に余白 */
    border-left: solid 3px black; /* 左側に線 */
    font-style: italic; /* 引用文を斜体に */
}
.figure-quote p {
    margin: 0.5em 0;
}
.figure-quote figcaption {
    text-align: right; /* 出典は右寄せに */
}
