.content {
    width: 100%;
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: calc(100% - 380px - 24px) 380px;
    grid-template-areas:
        "breadcrumb-list breadcrumb-list"
        "content-main content-annotation"
        "under-entry under-entry"
        "main-scroll main-scroll";
}
.breadcrumb_list {
    grid-area: breadcrumb-list;
    padding: 0 10px 0 50px; /* 上・右・下・左の余白 */
}
.main {
    grid-area: content-main;
    padding: 0 10px 0 50px;
    width: 100%;
}
.annotation {
    grid-area: content-annotation;
    padding: 0 10px 0 10px;
    min-width: 200px;
}
.under-entry-content {
    grid-area: under-entry;
    padding: 0 50px 0 50px;
}
.main-scroll {
    grid-area: main-scroll;
    padding: 0 50px 0 50px;
}
@media (max-width: 768px) {
    .content {
        flex-direction: column;
        display: grid;
        grid-template-rows: auto auto auto;
        grid-template-columns: 100%; /* 全幅使用 */
        grid-template-areas:
            "breadcrumb-list"
            "content-main"
            "content-annotation"
            "under-entry"
            "main-scroll";
    }
    .breadcrumb_list, .main, .annotation {
        padding: 0 10px 0 50px;
        width: 100%;
    }
}


.main figure, .main blockquote {
    margin: 0 10px 0 50px; /* ブラウザデフォルトの隙間をリセット */
}
.figure-quote {
    padding: 0 0 0 0.5em; /* 左側に余白 */
    border-left: solid 3px black; /* 左側に線 */
    font-style: italic; /* 引用文を斜体に */
}
.figure-quote p {
    margin: 0.5em 0;
}
.figure-quote figcaption {
    text-align: right; /* 出典は右寄せに */
}

/* プルダウン・リスト */
.main details {
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    font-family: 'Arial', sans-serif;
    transition: background-color 0.3s ease;
}
.main summary {
    cursor: pointer;
    font-weight: bold;
    display: flex;
    padding: 5px;
    transition: background-color 0.3s ease;
}
.main details[open] {
    background-color: #e6f7ff;
}
.main details > ul {
    padding-left: 20px;
}
.main ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.pulldown_list_wrapper li {
    padding-left: 10px; /* 基本のインデント */
    list-style-type: none;
}
.pulldown_list_wrapper li a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s ease;
}
.pulldown_list_wrapper li a:hover {
    color: #1a73e8;
}

.pulldown_list_wrapper li > details > summary {
    padding-left: 0; /* 親要素にはインデントなし */
}
.pulldown_list_wrapper li details > li {
    padding-left: 10px; /* 第一階層：10pxのインデント */
}
.pulldown_list_wrapper li details li details > li {
    padding-left: 20px; /* 第二階層：さらに10pxのインデント */
}
.pulldown_list_wrapper li details li details li details > li {
    padding-left: 30px; /* 第三階層：さらに10pxのインデント */
}
