.mathjax_wrapper {
    width: 100%;
}
.mathjax_flex {
    width: auto;
    overflow-x: auto;
}
.important_formula {
	border: 2px solid red;
}
.tikzjax_wrapper {
    width: 100%;
}
.tikzjax_flex {
    width: auto;
    overflow-x: auto;
}
.graph_wrapper {
    width: 100%;
}
.graph_flex {
    width: auto;
    overflow-x: auto;
}
