/*
    ファイル名: underEntryContent.css
    内容      : <div class="under-entry-content"></div>内のスタイル
*/
#article-page-topic {
    display: block;
    overflow: hidden;
    padding-top: 3px;
}
#article-page-topic dl {
    margin: 0 0 2px;
}
#article-page-topic dt, #article-page-topic dd {
    display: block;
    overflow: hidden;
    margin-bottom: 0;
}
#article-page-topic dl dt {
    float: left;
    background-color: #666;
    color: #fff;
    line-height: 1.1em;
    margin: 4px 4px 4px 0;
    padding: 4px 8px;
    border: none;
    min-width: 6em;
    text-align: center;
    border-radius: 3px;
}
#article-page-topic dd {
    border: none;
    padding-left: 0;
}
#article-page-topic dl dd .topic-label {
    display: inline-block;
    margin: 4px 6px 4px 6px;
    padding: 2px 5.5px;
    background-color: rgb(17, 194, 17);
    color: #fff;
    transition: box-shadow 0.3s ease;
    border: 1px solid #fff;
    border-radius: 1em;
    line-height: 1.2em;
    cursor: pointer;
    transition: color 150ms ease-in-out, background-color 150ms ease-in-out, transform 150ms ease-in-out;
    outline: 0;
}
#article-page-topic dl dd .topic-label:hover {
    background-color: rgb(92, 216, 92);
}
#article-page-topic dl dd .topic-label a {
    text-decoration: none;
    color: #fff;
}
#article-page-topic dl dd .topic-label a:hover {
    text-decoration: none;
}
.article-page-stats {
    display: flex;
    align-items: center;     /* 縦方向のズレ防止 */
    justify-content: center; /* 中央寄せ（不要なら削除） */
    gap: 20px;               /* ボタン間の余白 */
}
.article-page-stats__icon {
    width: 24px;
    height: 24px;
    margin: 8px 2px;
    display: flex;
    flex-direction: column;
    align-items: center; /* ← 横中央揃え */
    -webkit-tap-highlight-color: transparent;
}
.fa-comment {
    font-size: 24px;
}
#comment_counter, #like_counter {
    margin-top: 2.4px;
}
.fa-star {
    padding: 2.4px 0 0 0; /* 星の絵文字が75x66なため上に余白を追加 */
    font-size: 24px;
    color: #ccc;
    display: inline-block;
}
.bubble, .donut, .bubble_effect {
    box-sizing: border-box;
}
.fav {
    position: relative;
    cursor: pointer;
    &.active {
        .fa-star {
            transform-origin: center center;
            animation: star 1s ease-in-out forwards;
        }
    }
}
@keyframes star {
    0% {
        transform: scale(1, 1);
    }
    40% {
        transform: scale(1, 1);
    }
    60% {
        transform: scale(0, 0);
    }
    75% {
        transform: scale(0, 0);
    }
    100% {
        background: linear-gradient(to right, #fa709a 0%, #fee140 100%);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        transform: scale(1, 1);
    }
}
.fa-heart {
    font-size: 24px;
    color: #ccc;
}
.donut {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -3;
    &::after {
        content: "";
        display: block;
        width: 6px;
        height: 6px;
        border: 1px solid rgb(253, 192, 255);
        border-radius: 50%;
    }
}
.bubble {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -5;
    span {
        width: 1px;
        height: 1px;
        background: #cc0909;
        border-radius: 50%;
        position: absolute;
        opacity: 0;
        &:nth-of-type(1) {
            top: 30%;
            right: 40%;
        }
        &:nth-of-type(2) {
            top: 40%;
            right: 30%;
        }
        &:nth-of-type(3) {
            right: 30%;
            bottom: 40%;
        }
        &:nth-of-type(4) {
            right: 40%;
            bottom: 30%;
        }
        &:nth-of-type(5) {
            bottom: 30%;
            left: 40%;
        }
        &:nth-of-type(6) {
            bottom: 40%;
            left: 30%;
        }
        &:nth-of-type(7) {
            left: 30%;
            top: 40%;
        }
        &:nth-of-type(8) {
            left: 40%;
            top: 30%;
        }
    }
}
.like {
    position: relative;
    cursor: pointer;
    &.active {
        .fa-heart {
            transform-origin: center center;
            animation: heart 1s ease-in-out forwards;
        }
        .donut {
            &::after {
                transform-origin: center center;
                animation: donut 1s ease-in-out forwards;
            }
        }
        .bubble {
            span {
                &:nth-of-type(1) {
                    animation: bubble01 1s ease-in-out forwards;
                }
                &:nth-of-type(2) {
                    animation: bubble02 1s ease-in-out forwards;
                }
                &:nth-of-type(3) {
                    animation: bubble03 1s ease-in-out forwards;
                }
                &:nth-of-type(4) {
                    animation: bubble04 1s ease-in-out forwards;
                }
                &:nth-of-type(5) {
                    animation: bubble05 1s ease-in-out forwards;
                }
                &:nth-of-type(6) {
                    animation: bubble06 1s ease-in-out forwards;
                }
                &:nth-of-type(7) {
                    animation: bubble07 1s ease-in-out forwards;
                }
                &:nth-of-type(8) {
                    animation: bubble08 1s ease-in-out forwards;
                }
            }
        }
    }
}
@keyframes heart {
    0% {
        transform: scale(1, 1);
    }
    40% {
        transform: scale(1, 1);
    }
    60% {
        transform: scale(0, 0);
    }
    75% {
        transform: scale(0, 0);
    }
    100% {
        color: red;
        transform: scale(1, 1);
    }
}
@keyframes donut {
    0% {
        border-width: 1px;
        transform: scale(1, 1);
    }
    50% {
        border-width: 10px;
        transform: scale(1.5, 1.5);
    }
    75% {
        border-width: 1px;
        transform: scale(1, 1);
    }
    100% {
        border-width: 1px;
        transform: scale(1, 1);
    }
}
@keyframes bubble01 {
    0% {
        top: 30%;
        right: 40%;
    }
    50% {
        top: 30%;
        right: 40%;
        opacity: 0;
    }
    75% {
        top: -10%;
        right: 0%;
        opacity: 1;
    }
    85% {
        top: -20%;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes bubble02 {
    0% {
        top: 40%;
        right: 30%;
    }
    50% {
        top: 40%;
        right: 30%;
        opacity: 0;
    }
    75% {
        top: 0%;
        right: -10%;
        opacity: 1;
    }
    85% {
        top: -5%;
        right: -25%;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes bubble03 {
    0% {
        right: 30%;
        bottom: 40%;
    }
    50% {
        right: 30%;
        bottom: 40%;
        opacity: 0;
    }
    75% {
        right: -10%;
        bottom: 0%;
        opacity: 1;
    }
    85% {
        right: -20%;
        bottom: 10%;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes bubble04 {
    0% {
        right: 40%;
        bottom: 30%;
    }
    50% {
        right: 40%;
        bottom: 30%;
        opacity: 0;
    }
    75% {
        right: 10%;
        bottom: -30%;
        opacity: 1;
    }
    85% {
        bottom: 0%;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes bubble05 {
    0% {
        bottom: 30%;
        left: 40%;
    }
    50% {
        bottom: 30%;
        left: 40%;
        opacity: 0;
    }
    75% {
        bottom: -10%;
        left: 0%;
        opacity: 1;
    }
    85% {
        bottom: 0%;
        left: 15%;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes bubble06 {
    0% {
        bottom: 40%;
        left: 30%;
    }
    50% {
        bottom: 40%;
        left: 30%;
        opacity: 0;
    }
    75% {
        bottom: 0%;
        left: -10%;
        opacity: 1;
    }
    85% {
        bottom: 10%;
        left: -20%;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes bubble07 {
    0% {
        left: 30%;
        top: 40%;
    }
    50% {
        left: 30%;
        top: 40%;
        opacity: 0;
    }
    75% {
        left: -20%;
        top: 5%;
        opacity: 1;
    }
    85% {
        top: -10%;
        left: -25%;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes bubble08 {
    0% {
        left: 40%;
        top: 30%;
    }
    50% {
        left: 40%;
        top: 30%;
        opacity: 0;
    }
    75% {
        left: 0%;
        top: -10%;
        opacity: 1;
    }
    85% {
        top: -25%;
        left: 15%;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.fa-share-from-square {
    font-size: 24px;
}
.fa-download {
    font-size: 24px;
}
@media (min-width: 768px) {
    .article-page-stats {
        display: flex;
        align-items: center;     /* 縦方向のズレ防止 */
        justify-content: center; /* 中央寄せ（不要なら削除） */
        gap: 50px;               /* ボタン間の余白 */
    }
    .article-page-stats__icon {
        width: 60px;
        height: 60px;
        margin: 20px 5px;
        display: flex;
        flex-direction: column;
        align-items: center; /* ← 横中央揃え */
        -webkit-tap-highlight-color: transparent;
    }
    .fa-comment {
        font-size: 60px;
    }
    #comment_counter, #like_counter {
        margin-top: 6px;
    }
    .fa-star {
        padding: 6px 0 0 0; /* 星の絵文字が75x66なため上に余白を追加 */
        font-size: 60px;
        color: #ccc;
        display: inline-block;
    }
    .bubble, .donut, .bubble_effect {
        box-sizing: border-box;
    }
    .fav {
        position: relative;
        cursor: pointer;
        &.active {
            .fa-star {
                transform-origin: center center;
                animation: star 1s ease-in-out forwards;
            }
        }
    }
    @keyframes star {
        0% {
            transform: scale(1, 1);
        }
        40% {
            transform: scale(1, 1);
        }
        60% {
            transform: scale(0, 0);
        }
        75% {
            transform: scale(0, 0);
        }
        100% {
            background: linear-gradient(to right, #fa709a 0%, #fee140 100%);
            -webkit-background-clip: text;
            background-clip: text;
            color: transparent;
            transform: scale(1, 1);
        }
    }
    .fa-heart {
        font-size: 60px;
        color: #ccc;
    }
    .donut {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -3;
        &::after {
            content: "";
            display: block;
            width: 15px;
            height: 15px;
            border: 2.5px solid rgb(253, 192, 255);
            border-radius: 50%;
        }
    }
    .bubble {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -5;
        span {
            width: 2.5px;
            height: 2.5px;
            background: #cc0909;
            border-radius: 50%;
            position: absolute;
            opacity: 0;
            &:nth-of-type(1) {
                top: 30%;
                right: 40%;
            }
            &:nth-of-type(2) {
                top: 40%;
                right: 30%;
            }
            &:nth-of-type(3) {
                right: 30%;
                bottom: 40%;
            }
            &:nth-of-type(4) {
                right: 40%;
                bottom: 30%;
            }
            &:nth-of-type(5) {
                bottom: 30%;
                left: 40%;
            }
            &:nth-of-type(6) {
                bottom: 40%;
                left: 30%;
            }
            &:nth-of-type(7) {
                left: 30%;
                top: 40%;
            }
            &:nth-of-type(8) {
                left: 40%;
                top: 30%;
            }
        }
    }
    .like {
        position: relative;
        cursor: pointer;
        &.active {
            .fa-heart {
                transform-origin: center center;
                animation: heart 1s ease-in-out forwards;
            }
            .donut {
                &::after {
                    transform-origin: center center;
                    animation: donut 1s ease-in-out forwards;
                }
            }
            .bubble {
                span {
                    &:nth-of-type(1) {
                        animation: bubble01 1s ease-in-out forwards;
                    }
                    &:nth-of-type(2) {
                        animation: bubble02 1s ease-in-out forwards;
                    }
                    &:nth-of-type(3) {
                        animation: bubble03 1s ease-in-out forwards;
                    }
                    &:nth-of-type(4) {
                        animation: bubble04 1s ease-in-out forwards;
                    }
                    &:nth-of-type(5) {
                        animation: bubble05 1s ease-in-out forwards;
                    }
                    &:nth-of-type(6) {
                        animation: bubble06 1s ease-in-out forwards;
                    }
                    &:nth-of-type(7) {
                        animation: bubble07 1s ease-in-out forwards;
                    }
                    &:nth-of-type(8) {
                        animation: bubble08 1s ease-in-out forwards;
                    }
                }
            }
        }
    }
    @keyframes heart {
        0% {
            transform: scale(1, 1);
        }
        40% {
            transform: scale(1, 1);
        }
        60% {
            transform: scale(0, 0);
        }
        75% {
            transform: scale(0, 0);
        }
        100% {
            color: red;
            transform: scale(1, 1);
        }
    }
    @keyframes donut {
        0% {
            border-width: 2.5px;
            transform: scale(1, 1);
        }
        50% {
            border-width: 25px;
            transform: scale(1.5, 1.5);
        }
        75% {
            border-width: 2.5px;
            transform: scale(1, 1);
        }
        100% {
            border-width: 2.5px;
            transform: scale(1, 1);
        }
    }
    @keyframes bubble01 {
        0% {
            top: 30%;
            right: 40%;
        }
        50% {
            top: 30%;
            right: 40%;
            opacity: 0;
        }
        75% {
            top: -10%;
            right: 0%;
            opacity: 1;
        }
        85% {
            top: -20%;
        }
        90% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }
    @keyframes bubble02 {
        0% {
            top: 40%;
            right: 30%;
        }
        50% {
            top: 40%;
            right: 30%;
            opacity: 0;
        }
        75% {
            top: 0%;
            right: -10%;
            opacity: 1;
        }
        85% {
            top: -5%;
            right: -25%;
        }
        90% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }
    @keyframes bubble03 {
        0% {
            right: 30%;
            bottom: 40%;
        }
        50% {
            right: 30%;
            bottom: 40%;
            opacity: 0;
        }
        75% {
            right: -10%;
            bottom: 0%;
            opacity: 1;
        }
        85% {
            right: -20%;
            bottom: 10%;
        }
        90% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }
    @keyframes bubble04 {
        0% {
            right: 40%;
            bottom: 30%;
        }
        50% {
            right: 40%;
            bottom: 30%;
            opacity: 0;
        }
        75% {
            right: 10%;
            bottom: -30%;
            opacity: 1;
        }
        85% {
            bottom: 0%;
        }
        90% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }
    @keyframes bubble05 {
        0% {
            bottom: 30%;
            left: 40%;
        }
        50% {
            bottom: 30%;
            left: 40%;
            opacity: 0;
        }
        75% {
            bottom: -10%;
            left: 0%;
            opacity: 1;
        }
        85% {
            bottom: 0%;
            left: 15%;
        }
        90% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }
    @keyframes bubble06 {
        0% {
            bottom: 40%;
            left: 30%;
        }
        50% {
            bottom: 40%;
            left: 30%;
            opacity: 0;
        }
        75% {
            bottom: 0%;
            left: -10%;
            opacity: 1;
        }
        85% {
            bottom: 10%;
            left: -20%;
        }
        90% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }
    @keyframes bubble07 {
        0% {
            left: 30%;
            top: 40%;
        }
        50% {
            left: 30%;
            top: 40%;
            opacity: 0;
        }
        75% {
            left: -20%;
            top: 5%;
            opacity: 1;
        }
        85% {
            top: -10%;
            left: -25%;
        }
        90% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }
    @keyframes bubble08 {
        0% {
            left: 40%;
            top: 30%;
        }
        50% {
            left: 40%;
            top: 30%;
            opacity: 0;
        }
        75% {
            left: 0%;
            top: -10%;
            opacity: 1;
        }
        85% {
            top: -25%;
            left: 15%;
        }
        90% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }
    .fa-share-from-square {
        font-size: 60px;
    }
    .fa-download {
        font-size: 60px;
    }
}
.related-list {
    display: flex;
    flex-direction: column;
    row-gap: 14.4px;
    margin-bottom: 2em;
}
.related-list a:hover {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .05), 0 2px  3px rgba(0, 0, 0, .18);
    transform: scale(1.1);
}
.a-wrap {
    text-decoration: none;
    display: block;
    color: #333;
    padding: 1.5%;
    transition: all 0.3s ease-in-out;
}
.related-list .a-wrap .related-entry-card {
    position: relative;
    height: 100%;
}
.related-entry-card-thumb {
    width: 160px;
}
.entry-card-thumb, .author-thumb, .blogcard-thumbnail, .related-entry-card-thumb, .popular-entry-card-thumb, .new-entry-card-thumb {
    margin-right: 1.6%;
}
.carousel-entry-card-thumb, .related-entry-card-thumb, .widget-entry-card-thumb, .entry-card-thumb {
    float: left;
    margin-top: 3px;
    position: relative;
}
.related-entry-card-thumb .card-thumb img {
    max-width: 100%;
    height: auto;
    width: 100%;
    border: solid 2.1px #e3ddd7;
    border-radius: 5px;
}
.related-entry-card-thumb  .card-thumb img {
    aspect-ratio: 16 / 9;
    object-fit: cover;
}
.related-entry-card .cat-label {
    font-size: 9px;
}
.cat-label {
    color: #fefdfc;
}
.cat-label {
    position: absolute;
    top: 0.3em;
    left: 0.3em;
    border: 1px solid #eee;
    font-size: 11px;
    background-color: rgba(51, 51, 51, 0.7);
    padding: 1px 5px;
    max-width: 70%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.related-entry-card-content {
    margin-left: 170px;
}
.related-entry-card-content, .entry-card-content {
    padding-bottom: 1.2em;
}
.entry-card-title, .related-entry-card-title {
    color: #545454;
}
.related-entry-card-title, .entry-card-title {
    font-size: 18px;
    margin: 0 0 5px 0;
    line-height: 1.6;
    font-weight: bold;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.cf::after {
    clear: both;
    content: "";
    display: block;
}
.pager-post-navi {
    margin: 38px 0;
    display: flex;
    flex-direction: column;
}
.pager-post-navi a.prev-post {
    flex-direction: row;
    padding-left: 5px;
}
.pager-post-navi a {
    padding: 10px;
    margin: 0;
    display: inline-flex;
    align-items: center;
    line-height: 1.2;
    font-size: 14.4px;
}
.pager-post-navi a .iconfont {
    font-size: 1.8em;
    color: #ddd;
    padding: 8px;
}
.cf .fa {
    display: inline-block;
    font: normal normal normal 14px / 1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.cf .fa-chevron-left:before {
    content: "\f053";
}

.pager-post-navi a figure {
    margin: 0;
    min-width: 120px;
    max-width: 120px;
}
.pager-post-navi .card-thumb img {
    width: 100%;
    border: solid 2.1px #e3ddd7;
    border-radius: 5px;
}
.pager-post-navi .card-thumb img {
    aspect-ratio: 16 / 9;
    object-fit: cover;
}
.pager-post-navi a.prev-post .prev-post-title {
    margin-left: 10px;
}
.prev-post-title, .next-post-title {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.pager-post-navi a.next-post {
    flex-direction: row-reverse;
    padding-right: 5px;
}
.cf .fa-chevron-right:before {
    content: "\f054";
}
.pager-post-navi a.next-post .next-post-title {
    margin-right: 10px;
}
