#BackToTop {
	float: left;
	display:none;
    margin: 0 5px;
    padding: 3px;
    text-decoration: none;
	position:fixed;
	bottom:50px;
	right:0px;


    z-index: 9;
}

#BackToTop span
{
	width: 55px;
	height: 55px;
	display: block;
	margin-bottom: 20px;
    background: #ddd url(../img/up-arrow.png) no-repeat center center;

	/* rounded corners */
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;

	/* transition */
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}

#BackToTop span:hover
{
	background-color: #777;
}