.content {
    display: flex;
    width: 100%;
}
@media (max-width: 768px) {
    .content {
        flex-direction: column;
    }
    .main, .annotation {
        margin: 0;
        width: 100%;
    }
}
.main {
    flex: 2;
    margin: 0 10px 0 50px; /* 上・右・下・左の余白 */
    float: left;
}
.annotation {
    flex: 1;
    margin: 0 50px 0 10px;
    float: right;
}

figure, blockquote {
    margin: 0 10px 0 50px; /* ブラウザデフォルトの隙間をリセット */
}
.figure-quote { 
    padding: 0 0 0 0.5em; /* 左側に余白 */
    border-left: solid 3px black; /* 左側に線 */
    font-style: italic; /* 引用文を斜体に */
}
.figure-quote p {
    margin: 0.5em 0;
}
.figure-quote figcaption {
    text-align: right; /* 出典は右寄せに */
}