/* Menu Styles */
/* Title block and navigation adjustments */
.title-block {
    flex: 1 1 100%; /* Make sure the title block takes full width */
    text-align: center;
}

#responsive_header {
    flex: 1 1 100%; /* Ensure nav takes full width as well */
    padding: 0;
    display: block;
}

#responsive_header ul {
    display: flex;
    justify-content: center; /* Center the menu items */
    padding: 0;
}

#responsive_header ul li {
    position: relative;
    margin: 0 15px;
    list-style-type: none;
}
/*ok*/
#responsive_header ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

#responsive_header ul li a:hover {
    background-color: #0e3e4d;
}

/* Submenu Styles */
.submenu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #000;
    display: none;
    padding: 0;
    list-style: none;
}
.submenu li {
    width: 150px;
}
.submenu li a {
    padding: 10px;
    border-bottom: 1px solid #114d60;
}
.submenu li a:hover {
    background-color: #0e3e4d;
}

/* Show submenu on hover */
#responsive_header ul li:hover .submenu {
    display: block;
}

.show #responsive_header {
    display: block;
}

#responsive_header ul {
    flex-direction: row;
}

@media(max-width: 768px) {
    /* On larger screens, keep logo at the top and menu below */
    header .container {
        justify-content: center;
    }

    #responsive_header {
        display: none;
    }
    
    .sticky_header {
        display: none;
    }
}
